.btn-primary {
    color: black;
    background-color: #fff;
    border-color: #fff; /*set the color you want here*/
    border-radius: 0%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #e66a6a;
    border-color: #e66a6a; /*set the color you want here*/
}