<div class="container-fuild my-3 p-3 text-center">
    <!-- <h5 class="display-3">Slot Booking</h5> -->
    <p><span class="slot" style="border-bottom:2px solid #e66a6a;">Slot Booking</span></p>
  </div>
  <div class="container p-5" style="border: 0px solid black;">
    <!-- <form [formGroup]="customerForm" (ngSubmit)="onSubmit()"> -->
        <form>
      <div class="form-group row">
        <label class="col-sm-2">Name : </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="custName" placeholder="Enter name">
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-2">E-mail : </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" formControlName="custEmail" placeholder="Enter e-mail">
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-2">Phone No. : </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="custMob" placeholder="Enter mobile number">
        </div>
      </div><br>
      <!-- <div class="form-group row">
        <label class="col-sm-2">Booking Time : </label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-6 form-check">
              <input class="form-check-input" type="radio"  value="09-11" formControlName="bookTime" >
              <label class="form-check-label">
                9:00 am - 11:00 am
              </label>
            </div>
            <div class="col-sm-6 form-check">
              <input class="form-check-input" type="radio" value="11-1" formControlName="bookTime" >
              <label class="form-check-label">
                11:00 am - 1:00 pm
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-check">
              <input class="form-check-input" type="radio" value="2-4" formControlName="bookTime">
              <label class="form-check-label">
                2:00 pm - 4:00 pm
              </label>
            </div>
            <div class="col-sm-6 form-check">
              <input class="form-check-input" type="radio" value="4-6" formControlName="bookTime" >
              <label class="form-check-label">
                4:00 pm - 6:00 pm
              </label>
            </div>
          </div>
        </div>
      </div><br> -->
      <div class="form-group row">
        <label class="col-sm-2">Time : </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="custMob" placeholder="Enter timing">
        </div>
      </div>
      <br>
      <div class="text-center">
        <!-- <input type="submit" routerLink="/payment" (click)="orderplaced()" class="btn btn-warning"> -->
        <button class="btn btn-light" type="submit" routerLink="/payment">Book</button>
      </div>
    </form>
  </div>